img {
    width: 100%;
}

nav {
    width: 100%;
    background: #ffffff;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 96%;
    margin: 0 auto;
}


.logo {
    width: 9rem;
}

nav .search-bar {
    background: #f0eff5;
    padding: 8px 1.6rem;
    width: 32vw;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #86848c;
    left: 15%;
}

nav .search-bar input[type="search"] {
    color: #27282f;
    background: transparent;
    width: 100%;
}

nav .search-bar input[type="search"]::placeholder {
    color: #56555e;
}

nav .profile-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

nav .profile-area .profile {
    display: flex;
    gap: 1rem;
    align-items: end;

    flex-direction: row;
    padding: 0;
}

nav .profile-area .profile-photo {
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
}

nav .profile-area button {
    display: none;
}
