.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 40%, .6);
}

.modal-container:target {
    display: flex;
}

.modal {
    width: 60rem;
    padding: 4rem 2rem;
    border-radius: .8rem;
    box-shadow: .4rem .4rem 2.4rem .2rem hsla(236, 50%, 50%, 0.3);
    position: relative;
    overflow: hidden;
}

.modal__details {
    text-align: center;
    margin-bottom: 4rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid hsla(0, 0%, 100%, .4);
}

.link-1 {
    font-family: georgia, serif;
    color: #000000 !important;
    font-size: 14px;
    background: #FFFFFF;
    padding: 70px 70px;
    border-radius: 10px;
    position: fixed;
    margin: 10px;
}


.link-1:hover {
    color: #000000 !important;
    background: #cccccc;
}


.link-2 {
    width: 4rem;
    height: 4rem;
    border: 1px solid hsla(0, 0%, 100%, .4);
    border-radius: 100rem;
    color: inherit;
    font-size: 2.2rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    background: #FFFFFF;
}

.link-2::before {
    content: '×';

    transform: translateY(-.1rem);
}

.link-2:hover,
.link-2:focus {
    border-color: hsla(0, 0%, 100%, .6);
    transform: translateY(-.2rem);
}

input[type=text], select, input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}